<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
    <thead>
        <tr>
            <th>Posted by:</th>
            <th>Title</th>
            <th>Body</th>

        </tr>
    </thead>

    <tbody>
        <%= anonymous %>

    </tbody>
</table>